<% layout("layouts/boilerplate") %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds"
      method="post"
      class="validated-form"
      enctype="multipart/form-data"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="title">Campground Title: </label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
        />
        <div class="valid-feedback">Title Looks Good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Campground Location: </label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          required
        />
        <div class="valid-feedback">Location Looks Good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price: </label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            name="campground[price]"
            required
          />
          <div class="valid-feedback">Price Looks Good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Upload Images: </label>
        <div class="input-group mb-3">
          <input
            type="file"
            class="form-control"
            id="image"
            name="campground[images]"
            multiple
            required
          />
          <label class="input-group-text" for="image">Upload</label>
        </div>
        <div class="valid-feedback">Image Looks Good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description"
          >Campground description:
        </label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        ></textarea>
        <div class="valid-feedback">Description Looks Good!</div>
      </div>
      <button class="btn btn-success mb-3">Add Campground</button>
    </form>
    <a class="btn btn-primary" href="/campgrounds">Back to List</a>
  </div>
</div>
